.ListItem {
  all: unset;

  border-radius: var(--g-radius-xs);
  padding: var(--g-spacing-xxs) var(--g-spacing-xs);

  &:hover:not(.disabled) {
    background: var(--g-colors-interactives-bg--hover);
  }

  &:focus {
    outline: 2px solid purple;
  }

  &.disabled {
    color: var(--g-colors-interactives-bg--disabled);
    cursor: not-allowed;
  }
}
