:root,
[data-theme=dark],
[data-theme=light] {
  --g-spacing-xxxs: 2px; // 0.143rem;
  --g-spacing-xxs: 4px; // 0.286rem;
  --g-spacing-xs: 8px; // 0.571rem;
  --g-spacing-sm: 12px; // 0.857rem;
  --g-spacing-md: 16px; // 1.143rem;
  --g-spacing-lg: 20px; // 1.426rem;
  --g-spacing-xl: 24px; // 1.714rem;
  --g-spacing-xxl: 32px; // 2.286rem;
}
